h2 {
  position:absolute;
  bottom: 25%;
  left:2%;
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
  opacity: 0.7
}

path.arc {
  pointer-events: none;
  fill: none;
  stroke: #000;
  display: none;
}

path.cell {
  fill: none;
  pointer-events: all;
}

#cells g:hover path.arc {
  display: inherit;
}

.land {
  fill: #7fff00;
  stroke: red;
}

.state-boundary {
  fill: none;
  stroke: pink;
  stroke-width: 2px;
}

.counties {
  fill: none;
  stroke: black;
}

#cells.voronoi path.cell {
  stroke: brown;
}

path {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
  stroke-linecap: round;
}

#circles {
  stroke-dasharray: 3;
  animation: dash 1s linear alternate infinite;
  stroke: red;
  stroke-opacity: 20.0;
  stroke-width: 3px;
  fill: orange;
  fill-opacity: 0.3;
}

@keyframes dash {
  from {
    stroke-dashoffset: 10;
  }
  to {
    stroke-dashoffset: 0;
  }
}
